@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
:where(.css-pr0fja).ant-drawer .ant-drawer-close,
:where(.css-pr0fja).ant-drawer .ant-drawer-title{
  color: white !important;
}
.site-layout-content,
body {
  color: rgb(var(--foreground-rgb));
  background: #121212 !important;
}

.box-shadow-custom{
  box-shadow:0 0 15px 0 rgba(0,0,0,0.15);
}

:where(.css-pr0fja) a:hover{
color: #E11D48;
}